* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}
.container_popup {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  padding: 10px;
  background: silver;
  border: 2px solid silver;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.btn_cart {
  background: white;
  color: #155515;
  border-color: #155515;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  padding: 0;
}
.btn_close {
  background: white;
  color: #155515;
  border-color: #155515;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: initial;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}
.btn:hover {
  background: #155515;
  color: white;
  border-color: #155515;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 50px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3a3a39;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.cart i {
  color: #a9e1a9;
  font-size: 30px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.cart::after {
  content: attr(data-count);
  font-weight: bold;
  color: white;
  position: absolute;
  top: 2px;
  right: 15px;
}
.cart:hover i {
  color: #5dc75d;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 10px;
  background: #dad8d8;
}

.main {
  margin-top: 20px;
}
.main__title {
  padding-bottom: 3px;
  border-bottom: 3px solid silver;
  margin-bottom: 20px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.btn_close-modal {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.login {
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}
.login i {
  color: #ff8e03;
  font-size: 30px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.login:hover i {
  color: #9c5600;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.popup-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid silver;
}
.popup-product__img {
  width: 250px;
  padding: 30px;
  margin-right: 20px;
}
.popup-product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popup-product__info h4 {
  width: 200px;
  margin-right: 30px;
}
.popup-product__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid green;
}
.popup-product__quantity-value {
  padding: 0 15px;
}
.popup-product__text {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popup-product__text p {
  margin-left: 30px;
  width: 130px;
}

.total-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
  margin-right: 30px;
  font-weight: bold;
  color: #0505a1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.popup__content {
  min-width: 300px;
  max-width: 100%;
  padding: 20px 40px 40px;
  background: white;
  position: relative;
}
.popup__content h3 {
  border-bottom: 1px solid #1bc2b9;
  color: #0505a1;
  padding-bottom: 20px;
}

.product {
  padding: 10px;
  width: 200px;
  border: 1px solid silver;
  margin: 5px;
}
.product__img {
  width: 100%;
  height: 200px;
}
.product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.product__title {
  margin: 10px;
  height: 72px;
}
.product__descr {
  margin-bottom: 10px;
  text-align: center;
}
.product__price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product__price {
  color: red;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */